.pagename{
    margin : 10px;
    padding: 10px;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(0, 0, 0,.20);
    border: 1px solid rgb(0, 0, 0,.25);
    border-radius: 15px;
    margin : 10px;
    padding: 10px;
}
.details *{
    margin: 5px;
}
.quickdetails{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    
}
.quickdetails div{
    background: rgb(0, 0, 0,.20);
    border: 1px solid rgb(0, 0, 0,.25);
    border-radius: 15px;
    margin : 10px;
    padding: 10px;
}
.quickaccess{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.quickaccess div{
    background: rgb(0, 0, 0,.20);
    border: 1px solid rgb(0, 0, 0,.25);
    border-radius: 15px;
    margin : 10px;
    padding: 10px;
}