.pagename{
    margin : 10px;
    padding: 10px;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #E8F2F5;
    border: 1px solid #A8BEC7;
    border-radius: 15px;
    margin : 10px;
    padding: 10px;
}
.details *{
    margin: 5px;
}
.quickdetails{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    
}
.quickdetails div{
    background: #E8F2F5;
    border: 1px solid #A8BEC7;
    border-radius: 15px;
    margin : 10px;
    padding: 10px;
}
.quickaccess{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.quickaccess div{
    background: #E8F2F5;
    border: 1px solid #A8BEC7;
    border-radius: 15px;
    margin : 10px;
    padding: 10px;
}
.quickaccess div:hover{
    transform: scale(1.05);
}