.footer{
    background:#F7F7F5;
   
    border-top: 1px solid #A8BEC7;
    display: flex;
    justify-content: space-around;


}
.footer h3{
    color: var(--primary-text);
}
.footer h2{
    color: var(--primary-text);
}
.linklogo{
    width: 30px;
}
.links{
    
    display: flex;
    margin: 0px;
    padding: 10px 20px;  
    flex-direction: row;
    gap:20px;
    list-style: none;
}
.quickfooterlinks{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 0;
    padding-bottom: 30px;


}
.quickfooterlinks div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.quickfooterlinks div a{
    color: black;
    text-decoration: none;
}
