
.head{
    color: var(--primary-text);

}

.gradeshero{
    display: grid;
    
    padding: 10px;

    grid-template-columns: 1fr 1fr;

}

.gradeshero div{
    background: #E8F2F5;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #A8BEC7;
    border-radius: 15px;
    text-align: center;

}

.select-semester{
    display: flex;
    gap:15px;

}


.select-semester div{
    background-color: #E8F2F5;
    border: 1px solid #A8BEC7;
    border-radius: 15px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 25px;

}
.select-semester div:hover{
    background:rgba(0,0,0,.1);
}

.markstable,.gradecard{
    background: #E8F2F5;
    border: 1px #A8BEC7 solid;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border-spacing: 0px;
}
.markstable th,.gradecard th{
    padding:  15px 20px;
}

.markstable td , .gradecard td{
    border-top: 1px #A8BEC7 solid;
    padding: 15px;
}

.gradeandmarks{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.SGPA {
    text-align: right;
    font-weight: 700;
}
.SGPA+td{
    font-weight: 700;
}