.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    border-bottom: 1px solid darkgray;
    border-radius: 1px;
    padding: 8px 30px;
}
.navbrand{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    text-decoration: none;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    flex-wrap: nowrap;
}

.nav-links a{
    text-decoration: none;
    border-radius: 6px;

}

