.page-header{
padding:20px ;
}

.page-header p{
    font-size: 16px;
    font-weight: 300;
}

.page-header .head{
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    color:var(--primary-text);
}
