.timetable{
    padding: 25px;
}
.head{ 
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    color:var(--primary-text);
    

}

.tt-w{
    background:#E8F2F5;
    border: 1px solid #A8BEC7;
    border-radius: 15px;
    margin: 15px;
}

.tt-weekly{
    margin: 45px;
}

.card-title{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
    padding: 20px;

}

.tt-table{
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;

}
.tt-table td,.tt-table th{
   border: 3px solid #A8BEC7;
   text-align: center;
   padding: 18px;
   font-size: 16px;
   font-weight: 600;

}

.tt-table th{
    font-weight: 800;

}
