*{
    box-sizing: border-box;
}
:root{
    --bg-color:rgba(1,1,1,.15);
    --bg-sec :rgba(1,1,1,.25);
    --border: 1px black solid;
    --border-radius : 25px;
}
#root{
    background-color: var(--bg-color);
}
.hometitle{
    display: grid;
    grid-template-columns: repeat(2,1fr)
}
.hometitle div{
    vertical-align: middle;
}
.quickaccesstabs{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.quickaccesstabs div{
    margin: 15px;
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--bg-sec);
    text-align: center;
}