:root{
    --bg-primary: rgb(0,0,0,1);
    --bg-secondary:rgba(0,0,0,.25);
    --border:1px solid rgba(0,0,0,.5);
    --text-primary: #FFFFFF;
    --bg-gradient: linear-gradient(135deg, #3B1D87, #1E7C82, #082A33);
    --placeholder text:
}

body,html,#root{
    margin: 0px;
    padding: 0px;
    

}
.container{
    border: var(--border);
    background-color:var(--bg-secondary);
}
.bg-primary { 
  background-color: var(--bg-primary); 
  position: relative; 
  z-index: 0;
  height: 100vh;
  overflow: hidden;
  
} 
.text,span,h1,h2,h3,h4,h5,h6,p,label{
    color: var(--text-primary);
    font-family: Arial, sans-serif;
}
.text-center{
    vertical-align: middle;
    text-align: center;
}
.bg-primary::after { 
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background: var(--bg-gradient);
  opacity: .51;
  z-index: -1; 
}

.container{
    
    border-radius: 20px;
    
    margin: 15px 10px 10px 10px;
    width:auto;
    height: auto;
}
.grid-1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/*acessform */
.accessform *{
    margin: 20px 5px;
    font-size: 24px;
}
.accessform{
    margin: 15px 70px;
}

.accessform input{
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid white;
    font-size: x-large;
}
.accessform input:focus{
    outline: none;
    
    border-bottom: 1px solid white;
    
}
.navbar{
    display: flex;
    background-color:var(--bg-secondary);
     border: var(--border); 
     justify-content: space-between;
     position: sticky;
     z-index: 999;
}

.navbar .logo {
    height: 50px;
}
.navbar .logo img{
    height: 100%;
}

.navbar .navigate{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}
.navbar .navigate div{
    display: flex;
    flex-direction: column;
    margin : 20px;
    
}
.navbar .navigate div img{
    width:70px;
}
.navbar .navigate div span{
    text-align: center;
}
.accesspagetitle{
    font-size: 75px;
}
/* 
h1, h2 {
    color: #FFFFFF;
}

p, span {
    color: #E5E7EB;
}

.small-text {
    color: #C7D2FE;
}

a {
    color: #67E8F9;
}

button {
    color: #FFFFFF;
} */